h2.st1 {
    color:green;
    font-style:italic;
}
.st2 {
    color:pink;
    text-decoration:underline;
} 
.col2 {
    color:gray;
}
.col1 {
    color:brown;
}

.size1 {
    font-size:3em;
}
.under1 {
    text-decoration:underline;
}
.sty1 {
    font-style:italic;
} 
#col2H1 {
    color:orange;
}
.colH1 {
    color:purple;
}
p {
    color:gray;
    font-size:2em;
}
